.usDotApplicationContainer {
    padding: 60px 0;
}

.usDotApplicationContainer .logo {
    width: 40px;
}

.usDotApplicationContainer h2 {
    font-family: 'poppinsBold';
    font-size: 1.5rem;
}

.usDotApplicationContainer h6 {
    font-family: 'poppinsBold';
    font-size: .725rem;
}

.usDotApplicationContainer .box {
    border-radius: 20px;
}

.usDotApplicationContainer .form-control,
.usDotApplicationContainer .form-select {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-radius: 0;
    padding-left: 0;
    font-size: .712rem;
}
.usDotApplicationContainer label {
    font-size: .725rem;
}