.profile h2 {
    font-family: 'poppinsBold';
}
.profile .profile-content ul li {
    margin-bottom: 10px;
    list-style-type: none;
}
.profile .profile-content ul li:last-child {
    margin-bottom: 0px;
}
.profile .profile-content ul li span {
    font-family: 'poppinsSemiBold';
    display: inline-block;
    width: 140px;
}

.users .usersDetails table th {
    font-family: 'poppinsSemiBold';
}
.users p {
    font-family: 'poppinsMedium';
}

.form h2 {
    font-family: 'poppinsBold';
}
.form h4,
.form h5 {
    font-family: 'poppinsSemiBold';
}
.form  .form-list span {
    font-family: 'poppinsMedium';
    font-size: .875rem;
    background: #0b2d83;
    padding: 4px 13px;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}
.form ul li {
    cursor: pointer;
}
.form .form-control,
.form .form-select {
    font-size: .912rem;
}
.form .form8843 form p {
    margin-bottom: 0px;
}
.form .form8843 .form8843Des {
    font-family: 'poppinsMedium';
}