
.dashboard,
.dashboard .nav-pills,
.dashboard .tab-content {
    height: 80vh;
}
.dashboard .nav-pills {
    background-color: #f8f9fa;
}
.dashboard .nav-pills .nav-link {
    color: #000;
    padding: 12px 18px;
}
.dashboard .nav-pills .nav-link.active{
    background-color: #10182c;
    border-radius: 5px;
    color: #fff;
}

.profile h2 {
    font-family: 'poppinsBold';
}
.profile .profile-content ul li {
    margin-bottom: 10px;
    list-style-type: none;
}
.profile .profile-content ul li:last-child {
    margin-bottom: 0px;
}
.profile .profile-content ul li span {
    font-family: 'poppinsSemiBold';
    display: inline-block;
    width: 140px;
}

.form h2 {
    font-family: 'poppinsBold';
}
.form h4 {
    font-family: 'poppinsSemiBold';
}
.form ul li {
    cursor: pointer;
}
.form .form-control,
.form .form-select {
    /* border-left: 0;
    border-top: 0;
    border-right: 0;
    border-radius: 0;
    padding-left: 0; */
    font-size: .912rem;
}
.form .form8843 form p {
    margin-bottom: 0px;
}
.form .form8843 .form8843Des {
    font-family: 'poppinsMedium';
}