
.dashboard,
.dashboard .nav-pills,
.dashboard .tab-content {
    height: 80vh;
}
.dashboard .nav-pills {
    background-color: #f8f9fa;
}
.dashboard .nav-pills .nav-link {
    color: #000;
    padding: 12px 18px;
}
.dashboard .nav-pills .nav-link.active{
    background-color: #10182c;
    border-radius: 5px;
    color: #fff;
}

.profile h2 {
    font-family: 'poppinsBold';
}
.profile .profile-content ul li {
    margin-bottom: 10px;
    list-style-type: none;
}
.profile .profile-content ul li:last-child {
    margin-bottom: 0px;
}
.profile .profile-content ul li span {
    font-family: 'poppinsSemiBold';
    display: inline-block;
    width: 140px;
}