.businessRegistrationContainer {
    padding: 60px 0;
}

.businessRegistrationContainer h2 {
    font-family: 'poppinsBold';
    font-size: 1.5rem;
}

.businessRegistrationContainer h5 {
    font-family: 'poppinsBold';
    font-size: .912rem;
}

.businessRegistrationContainer h6 {
    font-family: 'poppinsBold';
    font-size: .725rem;
}

.businessRegistrationContainer .box {
    border-radius: 20px;
}

.businessRegistrationContainer .form-control,
.businessRegistrationContainer .form-select {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-radius: 0;
    padding-left: 0;
    font-size: .712rem;
}
.businessRegistrationContainer label {
    font-size: .725rem;
}