@font-face {
  font-family: 'poppinsRegular';
  src: url('../src/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'poppinsMedium';
  src: url('../src/assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'poppinsSemiBold';
  src: url('../src/assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'poppinsBold';
  src: url('../src/assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-style: normal;
}

body {
  font-family: 'poppinsRegular';
  font-size: .912rem;
}

.logo {
  width: 110px;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.form-control:focus,
.form-select:focus {
  outline: none;
  box-shadow: none;
  border-color: #dee2e6;
}

.btnPrimary,
.btnLtePrimary{
  padding: 5px 20px;
  border-radius: 6px;
}
.btnPrimary {
  background-color: #10182C;
  color: #fff;
}

.btnLtePrimary {
  background-color: #fff;
  color: #000;
  border-color: #a7a7a7;
}

.formError {
  color: red;
  font-size: 0.715rem;
  margin-top: 0.125rem;
  position: absolute;
}

.btnUnderline {
  font-size: 1rem;
  color: #ffffff;
  position: relative;
  z-index: 2;
}

.btnUnderline.dark {
  color: #000;
}

/* .btnUnderline::after, */
.btnUnderline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #17ac09, #039248);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-out;
}

.btnUnderline::after {
  top: -5px;
  transform-origin: left;
}

.btnUnderline:hover::before,
.btnUnderline:hover::after {
  transform: scaleX(1);
}

/* Add this new CSS rule */
.nowrap-table td {
    white-space: nowrap;
}

.nowrap-table th {
    white-space: nowrap;
}