.banner {
    height: 25rem;
    /* background: linear-gradient(107.56deg, #c3dfa0 0%, #d5dccc 27.88%, #E1E1D7 70.31%, #dcf0d8 100%); */
    background-image: url('../../assets/images/banner.jpg');
    background-position: top;
    background-size: cover;
    position: relative;
}
.banner:after {
    content: "";
    background: #163838cc;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0;
}
.banner .bannerContent {
    position: relative;
    z-index: 1;
}
.banner .banner-title {
    font-family: 'poppinsBold';
    font-size: 2.125rem;
    color: #fff;
}
.banner .banner-subtitle span {
    /* font-family: 'poppinsBold'; */
    color: #8dc73f;
    display: inline-block;
    position: relative;
}
.banner .banner-subtitle .title {
    margin-left: 18px;
    color: #fff;
}

.banner .fromTitle:after {
    position: absolute;
    line-height: 0;
    content: ">";
    font-size: 18px;
    font-style: normal;
    top: 12.25px;
    left: 49px;
}