.stripeSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #7272726e;
    position: fixed;
    z-index: 100000;
}
.stripeContainer {
    z-index: 1000;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    /* background: linear-gradient(297deg, #6a11cb, #2575fc); */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.stripe-background {
    background: repeating-linear-gradient(45deg,
            #606dbc,
            #606dbc 10px,
            #465298 10px,
            #465298 20px);
}

.stripeSection .btnPrimary {
    background: #008000;
    border: #008000;
}
.stripeSection .btnLtePrimary {
    background: #ff0000;
    border: #ff0000;
    color: #fff;
}
.stripeSection .price {
    color: #fff;
    font-family: 'poppinsBold';
}

@media (max-width: 768px) {
    .stripeContainer {
        width: 95%;
    }
}